nav {
  color: orange;
  justify-content: space-around;
}

.navigation {
  background-color: rgb(140, 47, 177);
  height: 25px;
  text-align: center;
  padding: 10px;
}

.link {
  color: white;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 15px;
}

.active-link {
  color: white;
  text-decoration: underline;
}

.bottom {
  background-color: rgb(140, 47, 177);
  color: white;
  height: 25px;
  text-align: center;
  margin-top: 5px;
  padding: 10px;
}
